/* comment */
/* CSS structure:
   selector {property: value; property: value; .... } */
h1 {
     color: #7c048b/*color pick*/;
     border-color: pink;
     border-width: 5px;
     border-style: solid;
     /*or:  "border: 5xp solid pink" will have the same function of the three*/
 }
li {
       color:rgb(16, 99, 16); background: violet;
  }
h4 {
    color: purple; background: rgb(247, 218, 165);
}
body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQG46DVcyrYMAXV2fwZ0UYOtIEOVBJXn0KWxw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}

