p {
    /*Content - width and height*/
    width: 200px; 
    /*Border*/
    border: 2px solid blue;
    /*Padding - espaço entre borda e texto*/
    padding: 10px;

    /*Margin - space outside of the border, between elements*/
    margin: 50px;

}

#different {
    /*Content - width and height*/
    width: 50%; /*another way to input... my box is 50% of my page ( se diminuir ou aumentar a tela, o box muda tbm*/ 
    
    /*Border*/
    border: 2px solid blue;
    
    /*Padding*/
    padding: 10%;

    /*Margin - space outside of the border, between elements*/
    margin-top: 100px;
    /*or use a shortcut to the four sides....
    (first value is for the top, then the right, botton and left)... 
    margin: 20px 40px 500px 100px;*/
    /*another shortcut is setting only 2 values, first will apply to top and bottom and second to right and left...
    margin: 0 20px(se usar a palavra "auto" ele centraliza;*/
}
