td {
	width: 100px;
	height: 100px
}

.vertical {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.horizontal {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
}

table {
	margin: auto;
}

h1 {
	text-align: center;
}
